{% extends 'blog_app/base.html' %}

{% block title %}
    Mój blog
{% endblock %}

{% block content %}
    <h1>Mój blog</h1>
        {% if tag %}
            <h2>Posty oznaczone tagiem "{{ tag.name }}"</h2>
        {% endif %}
        {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="tags">Tagi: {{ post.tags.all|join:", " }}</p>
        <p class="date">
            Opublikowany {{ post.publish }} przez {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
<!--Include używany do widoku jako funkcji.-->
    {% include "blog_app/pagination.html" with page=posts %}
<!--Include używany do widoku jako klasy-->
<!--    {% include "blog_app/pagination.html" with page=page_obj %}-->
{% endblock %}